<h1>Users#edit</h1>

<%= form_with model: @user do |f| %>
<%= f.label :Name %>
<%= f.text_field :name %>
<%= f.label :Image %>
<%= f.file_field :profile_image %>
<%= f.label :introduction %>
<%= f.text_area :introduction %>
<%= f.submit 'Update User' %>
<% end %>